#footer{
    background-color: rgb(223, 223, 223);
    padding: 20px 0 50px;
    margin-top: 100px;
}
.footer__flex1{
    margin-top: 12px;
}
.footer__flex1, .footer__links{
    justify-content: space-between;
    align-items: center;
}
.footer__links img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer__links .viber{
    margin: 0;
}
.footer__links img:hover{
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%); 
}

.footer__flex1>div:first-of-type{
    width: 35%;
}
.footer__flex1>div:last-of-type{
    width: 65%;
    text-align: right;
}
.footer__row3{
    text-align: center;
}